.editableContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editableNode {
  overflow-y:scroll;
  overflow-x: hidden;
  outline: none;
  caret-color: #510ff3;
}

.editableNode::-webkit-scrollbar {
  width: 0 !important
}