.container {
  z-index: 1;
  position: fixed;
  height: 300px;
  width: 40px;
  background: #333333;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  button:not(:first-child) {
    background: none;
    cursor: pointer;
    z-index: 3;
    height: 35px;

    &:hover {
      background: #4B4B4B
    }
  }

  button {
    border: none;
    width: 40px;
  }
}

.menu {
  cursor: grab;
  background: #1CC5DC;
  height: 25px;

  &:active {
    cursor: grabbing;
  }
}

.figures {
  position: absolute;
  left: 50px;
  top: 45px;
  width: 120px;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0 0 4px #00000033;
}